#main_title {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.box1 h2 {
    float: left;
}

.box1 button {
    float: right;
}

.container {
    margin-top: 50px;
}

h6 {
    text-align: center;
    color: red;
}

.search-box {
display: flex;
align-items: end;
}
  
.search-box input[type="search"] {
flex-grow: 1;
border-radius: 0.25rem;
border-right: none;
}

.search-box button {
border-radius: 0 0.25rem 0.25rem 0;
margin-right: 10px;
}
  